*{
  box-sizing: border-box;
  font-family: 'Sue Ellen Francisco', cursive;
  margin: 0;
  padding: 0;
}

nav{
  display: flex;
  position: fixed;
  background: #fff;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: center;
}

a{
  text-decoration: none;
  font-size: 20px;
  padding: 15px;
}

a:hover{
  color: #307B6C;
}

.header{
  display: flex;
  flex-direction: column;
  padding: 80px 25px;
  width: 100%;
}

h1, h2, h3{
  text-align: center;
  font-size: 30px;
}

.babas{
  width: 100%;
  height: 400px;
  padding: 20px;
}

.articles{
  height: 700px;
}

#info, #algo{
  width: 100%;
  padding: 20px 25px;
  display: flex;
  flex-flow: column wrap;
  font-size: 20px;
  width: 100%;
}

img{
  width: 300px;
  height: 200px;
}

.info{
  display: inline;
  margin-left: 320px;
  margin-top: -200px;
  text-align: justify;
  text-size: 30px;
  height: 100px;
}

#algo{
  display:flex;
  flex-flow: column wrap-reverse;
  margin-top: 150px;
}

.algo{
  display: inline;
  margin-right: 350px;
  margin-top: -200px;
  text-align: justify;
  text-size: 30px;
  height: 50px;
}

.video{
  display: flex;
  justify-content: center;
  background: gray;
}

#form{
  margin-top: 30px;
}

.form{
  display: flex;
  justify-content: center;
}

input, textarea{
  display: block;
  margin: 10px;
  width: 500px;
}

input, textarea::placeholder{
  font-size: 15px;
}
